body, html{
	padding: 0;
	margin: 0;
	border-radius: 2px;
	color: white;
	max-width: 100%;
   	overflow-x: hidden;
}

.section p{
	text-align: justify;
}

.main{
	margin-top: 58px;
}

body{
	background-color: #263238;
}

.col-md-3{
	width: 0 auto;
}

.owl-carousel{
	margin-bottom: 20px;
}

.luxbar-brand img{
	height: 45px;
}

.section img, .section video{
	width: 100%;
}

h1,h3{
	padding: 20px;
}

.section:nth-child(even){
	background-color: #465b66;
}

.section:nth-child(odd){
}

p.info{
	background-color: white;
	font-size: 16pt;
	text-align: center;
	color: black;
}

p.infoTexto{
	padding: 0 30px;
	color: white;
	font-size: 16pt;
	margin-bottom: 30px;
}

.nav-tabs a{
	color: white;
}

.nav-tabs a:hover{
	color: black;
}

div h1{
	text-align: center;
	font-size: 32pt;
}

.info>ul>li{
	color: white;
	font-size: 16pt;
	margin-bottom: 30px;
}

@media (max-width: 600px){
	.luxbar-brand img{
		height: 45px;
		width: 100%;
	}

.imagenAU img{
	margin: 50px 0;
}


.enlaces img{
	padding: 30px;
}

	.personView{
	    padding: 10px;
		height: 200px;
	}
}


.personView{
    padding: 10px;
	transition: 1s;
	border-radius: 5px;
}

.personView a{
	text-decoration: none;
	cursor: default;
	color: white;
}

.personView:hover{
    background-color: #A0A0A0;
}

.imagenPerson{
    margin: 0 auto;
}

.imagenPerson img{
	border-radius: 50%;
    padding: 5px;
}

.descripcionPerson{
    text-align: center;
	height: 50px;
}

.descripcionPerson p{
    font-size: 16pt;
}

.col-half-offset{
    margin-left:4.166666667%
}
